@import '~bootstrap/scss/bootstrap';

h1 {
  font-size: 60px;
  font-family: cursive;
  color: darkblue;
  text-align: center;
    background-color: grey;
}

body{
  background-color: grey;
}


.button  {
  font-family: cursive;
}

.container{

}

.auth-section {
font-family: cursive;
}

.box {
  align-items: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-style: solid;
  height: 100px;
  width: 50px;
  justify-content: center;
  color: black;
  padding: 0px;
  margin: 0px;
  // display: flex;
  border-style: outset;
  background-color: blue;

}

.button {
  align-items: center;
}

.gamesPlayed {
  font-family: cursive;
}

#message {
  font-family: cursive;
  color: darkgreen;
}
